

body, html{
	font-family: 'Helvetica Neue';
}

.card{
	background-color: red;
	width: 40%;
	height: 30vh;
	text-align: center
	justify-content: center;
	align-items: center;
	margin: 2%;
	display: inline-flex;
	vertical-align: top;
}
.east{
background-color: blue;
}

.west{
background-color: green;
}